
.nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 1224px;
    height: 48px;
    margin-top: 26px;
    margin-left: 111px;
    margin-right: 105px;
}

.nav-logo{
    display: flex;
    align-items: center;
}

.nav-logo svg{
    margin-right: 12px;
}

.nav-logo span{
    font-weight: 600;
    font-size: 22px;
    color: white;
    opacity: 90%;
}

.nav-links{
    display: flex;
    width: 431px;
    justify-content: space-between;
    align-items: center;
}

.nav-links span svg{
    margin-left: 7px;
}

.nav-links__link{
    color: white;
    opacity: 55%;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
}

.nav-buttons__login{
    border: 0;
    background-color: inherit;
    color: white;
    opacity: 78%;
    font-weight: 600;
    font-size: 16px;
}

.nav-buttons__signup{
    color: #FDF5FF;
    border: 0;
    background-color: #FF6E30;
    border-radius: 8px;
    height: 48px;
    width: 118px;
    margin-left: 41px;
    font-weight: 600;
    font-size: 16px;
}