.newcomer{
    width: 1224px;
    height: 638px;
    margin: 0 auto;
    margin-bottom: 200px;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.newcomer-title{
    width: 427px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: transparent;
}

.newcomer-title h3{
    font-size: 48px;
    line-height: 62px;
    font-weight: 500;
    color: white;
    opacity: 90%;
    background: transparent;
}

.newcomer-title p{
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: white;
    opacity: 55%;
    background: transparent;
}

.newcomer-title button{
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: white;
    text-align: center;
    border-radius: 8px;
    background-color: #FF6E30;
    width: 198px;
    height: 58px;
}


.newcomer-cards{
    width: 600px;
    height: 638px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
    
}




/*card*/


.newcomer-cards__card{
    height: 284px;
    width: 288px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popular-cards__card p {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: white;
    opacity: 55%;
    background: none;
}

.hover{
    background: url('../Popular/assets/MaskGroup.svg');
    background-color: #283036;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    transform: translateY(-20px);
}

.cards-icons__svg .like-hover{
    width: 42px;
    height: 42px;
    border-radius: 8px;
    display: flex;
    background-color: #313d45;
    align-items: center;
    justify-content: center;
}

.cards-icons__svg .like-hover svg{
    display: flex;
    align-self: center;
    justify-self: center;
}

.newcomer-cards__card-container{
    width: 245px;
    height: 228px;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: none;
}

.card-title{
    display: flex;
    flex-direction: row;
    background: none;
}

.new-p {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: white;
    opacity: 55%;
    background: none;
}

.card-title_title{
    background: none;
}

.card-title_title h4{
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: white;
    opacity: 78%;
    margin: 0;
    background: none;
}

.card-title_title span{
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #FFA537;
    opacity: 55%;
    background: none;
}

.cards-icons{
    height: 42px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: none;
}

.cards-icons .checked{
    opacity: 100;
    background-color: #FF6E30;
}

.cards-icons__svg{
    height: 42px;
    width: 96px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: none;
}

.cards-icons button{
    border: 0;
    color: white;
    opacity: 55%;
    font-weight: 600;
    font-size: 16px;
    width: 106px;
    height: 42px;
    border-radius: 8px;
}

.card-title svg{
    height: 64px;
    width: 64px;
    margin-right: 30px;
    background: none;
}

.cards-icons__svg svg{
    width: 28px;
    height: 28px;
    background: none;
    display: flex;
    align-self: center;
    justify-self: center;
}

.cards-icons__svg__wrap{
    width: 42px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background: none;   
}

.active{
    background: url('../Newcomer/assets/MaskGroupNew.svg');
    background-color: #283036;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    transform: translateY(-20px);
}